<div [ngClass]="isLoginPage ? 'page-wrap-login' : 'page-wrap'">
<header class="page-header">
    Football Manager
  </header>
  <main [ngClass]="{ 'page-main-full': isLoginPage, 'page-main': !isLoginPage }">
    <router-outlet></router-outlet>
  </main>
  <aside class="page-sidebar" *ngIf="!isLoginPage">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="equipment" class="m-1 btn btn-light btn-outline-primary" Button>Equipment</button>
      </li>
      <li class="nav-item">
        <button routerLink="manager" class="m-1 btn btn-light btn-outline-primary" Button>Managers</button>
      </li>
    </ul>
    </aside>
  <footer class="page-footer">
    &#64;2024/2025
  </footer>
</div>
